<!-- esta es la vista de iniciar sesion Usuario -->

<!-- XxxxxxxxxxxxxxxxxxX -->
<section id="promo" class="promo section offset-header">
  <div class="container text-center">


    <h1>Ingresa con Twitter </h1>
  </p>
   
   <div class="row-fluid" id="lineabotont">
             
       <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 " id="botondonante3"> 
          
       </div>
               
       <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" id="vowlogo3">
           <%= render "devise/shared/links_sessions" %>
       </div>
                
       <div class="col-lg-3 col-md-3 col-md-3 col-xs-3" id="botonfundacion3">
           
      </div>

  </div>

 </div>    
</section>

<!-- esta es la vista de iniciar sesion Usuario -->
